@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');


:root {
    --bg-color: #202123;
    --footer-font-color: #919599;
    --icon-color: #919599;
    --btn-color: #303135;
    --footer-bg-color: #181818;
}

/* global scope */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Segoe UI', Tahoma, sans-serif;
    background-color: var(--bg-color);
    color: #fff;
    position: relative;
}


li {
    list-style: none;
    text-transform: capitalize;
}

a {
    text-decoration: none;
    color: #fff;
}


/* Header */
header {
    display: grid;
    grid-template-columns: 10rem 1fr 10rem;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 16px;

}

.logo {
    width: 7rem;
    margin: 16px 32px 16px 32px;
}

header section {
    position: relative;
}
.header input{
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
}


.fa-x {
    position: absolute;
    top: 17px;
    left: 30rem;
    color: var(--icon-color);
}

.fa-x::after {
    content: '';
    width: 1px;
    height: 28px;
    position: absolute;
    left: 1.5rem;
    top: -5px;
    background-color: #555;
}

.fa-microphone {
    font-size: 1.3rem;
    position: absolute;
    top: 17px;
    left: 32.5rem;
    color: var(--icon-color);
}

.fa-camera {
    font-size: 1.2rem;
    position: absolute;
    top: 17px;
    left: 34.5rem;
    color: var(--icon-color);
}


.search-magnifying-glass {
    font-size: 1.2rem;
    position: absolute;
    top: 17px;
    left: 37rem;
    color: #8ab4f7;
}

.profile-setting img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.search {
    min-width: 650px;
    height: 50px;
    background-color: var(--bg-color);
    border: 0.2px solid #555;
    border-radius: 2rem;
    color: #fff;
    padding-left: 32px;
    font-size: 18px;
}

header  ul {
    display: grid;
    grid-template-columns: repeat(3, 40px);
}

.profile-setting li {
    font-size: 1.1rem;
    color: var(--icon-color);

}
.img-list-dot{
    fill: var(--icon-color);
}



/* options section */
.options-search{
    border-bottom: 1px solid var(--btn-color);
    padding-bottom: 14px;
    margin-top: 15px;
}


.options-search ul{
    width: 950px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 64px 100px 100px 100px 100px 120px 380px 100px;
    color: var(--icon-color);
    position: relative;
}


.all{
    color: #8ab4f7;

}

.all::after{
    content: '';
    width:3px;
    height: 35px;
    position:absolute;
    left:16px;
    top:14px;
    background-color: #8ab4f7;
    transform: rotate(90deg);
}

.options-search li{
    font-size: 14px;
    cursor: pointer;

}
.options-search i{
    margin-right: 2.5px;
    font-size: 15px;
    cursor: pointer;
}

.statistic {
    margin-top: 15px;
    font-size: 14px;
    color: #eee;
    padding-left: 12.5rem;
}

/* search results section */

main{
    width: 70vw;
    margin: 40px auto;
}

main p{
    color: var(--icon-color);
    font-weight: 500;
}

main section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 1.5rem 0;
}

.single-result{
    margin-bottom: 30px;
}
.single-result  .line1{
    margin-bottom: 5px;
}
.single-result .heading1 {
    color:#bdc1c5 ;
}

.single-result .heading1 i{
    color: #eee;
    margin-left: 10px;
    font-size: 12px;
}

.single-result h2 a{
    color: #8ab4f7;
    font-size: 20px;
}
.single-result h2 a:hover{
    text-decoration: underline;
}
.single-result h4{
    color: #bdc1c5;
    margin: 8px 0;
    font-size: 15px;
}

.single-result p{
    font-size: 14px;
}


/* heading-related */
.heading-related{
    margin-top: -10px;
}
.heading-related{
    font-size: 22px;
    color: #e8e9e6;
    font-weight: 300;
}

.fa-ellipsis-vertical {
    font-size: 16px;
    margin-left: 8px;
    color: #e8e9e6;

}

.related-searche-btns{
    display: grid;
    grid-template-columns: 50% 50%;
}

.related-searche-btns .btn{
    padding: 14px 16px;
    background-color: #303134;
    color:#bdc1c6 ;
    border-radius: 25px;
    border: none;
    margin: 10px 16px 0 0;
    font-size: 15px;
    text-align: center;
    width: 20rem;
    height: 3rem;

}

.related-searche-btns .btn i{
    font-size: 13px;
}
.related-searche-btns .btn:hover{
    text-decoration: underline;
}



/* google search pages */

.search-pages-container{
    width: 30vw;
    margin: 64px  auto  0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
    align-items: center;
}

.search-pages{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
}

.search-pages p{
    font-size: 14px;
    letter-spacing: 4px;
    margin-top: 0.3rem;
    color: #8ab4f7;
}

.search-pages-icons{
    margin: 1rem 0 0 0.8rem;
    color: #8ab4f7;
}

.search-pages-icons p{
    color: #8ab4f7;
    margin-top: 0.8rem;
}



/* footer */

footer{
    width: 100%;
    background-color: #555;
    color: #919599;
    position: absolute;

}

.top-footer{
    background-color: #181818;
    display: grid;
    grid-template-columns: 80px 480px;
    text-transform: capitalize;
    padding: 0.7rem 1.5rem;
    padding-left: 200px;
    }

    .top-footer p {
        position: relative;
    }
    
    .top-footer p span::after{
        content: '';
        width:1px;
        height: 25px;
        position:absolute;
        left:4.3rem;
        top: -5px;
        background-color: #303135;
    }
    .top-footer h4 a{
        color: #919599;
    }
    
    .top-footer h4{
        position: relative;
        padding-left: 14px;
        font-size: 15px;
    }
    
    .top-footer h4 a::before{
        content: '';
        height: 8px;
        width: 8px;
        left: 0;
        top:6px;
        background-color: #919599;
        border-radius: 50%;
        position: absolute;

    }
    
    .top-footer h4 a span{
        color: #8399d6;
    }

    .down-footer{
        margin-top: 1px;
        background-color: #181818;
        padding: 12px 24px;
        padding-left: 15vw;
    }
    
    .flex-container{
        display: flex;
        gap: 28px;
    }